<div class="background">
  <div class="container full-height">
    <div class="row">
      <img src="images/hacknotts.png">
      <h2>Meet like-minded people, learn new things, and create cool technology.</h2>
    </div>
  </div>
</div>

<div class="background2">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Come build cool stuff with us</h2>
        <p>
          Mini Hack is a 12 hour long collaborative programming event happening on the 16th of November in the School of Computer Science. A hundred students will come together, form teams, share ideas, and help each other build innovative applications. It's a fantastic opportunity to have fun making cool things and meeting new people. There'll be free healthy food, fun challenges, a lot of learning, and stacks of stickers.
        </p>
      </div>
      
    </div>
  </div>
</div>

<div class="background3">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h2>Come build cool stuff with us</h2>
        <p>
          Mini Hack is a 12 hour long collaborative programming event happening on the 16th of November in the School of Computer Science. A hundred students will come together, form teams, share ideas, and help each other build innovative applications. It's a fantastic opportunity to have fun making cool things and meeting new people. There'll be free healthy food, fun challenges, a lot of learning, and stacks of stickers.
        </p>
      </div>
      
    </div>
  </div>
</div>
