<div class="header">
  <ul class="nav masthead-nav">
    <li class="active"><a href="#launch">Launch Hack</a></li>
    <li><a href="#about">About</a></li>
    <li><a href="#sponsors">Sponsors</a></li>
    <li><a href="#faq">FAQ</a></li>
    <li><a href="#register">Register</a></li>
  </ul>
</div>

<div id="launch" class="hero">

  <div class="main-logo">
    <img class="logo" src="images/launch-hack-sq.png">
    <img class="rocket" src="images/rocket.png">
  </div>

  <div class="countdown">
    <p>Time until launch:</p>
    <span id="clock"></span>
  </div>

</div>

<div id="about" class="container">
  <div class="row">
    <div class="section-title col-sm-offset-5 col-sm-2">
      <h2>About</h2>
    </div>
  </div>
</div>

<div id="sponsors" class="container">
  <div class="row">
    <div class="section-title col-sm-offset-5 col-sm-2">
      <h2>Sponsors</h2>
    </div>
  </div>

  <div class="row">
    <div class="sponsor-logo col-sm-offset-3 col-sm-6">
      <a class="bloomberg" href="http://jobs.bloomberg.com/" target="_blank">
        <% include bloomberg-svg %>
      </a>

    </div>

  </div>
  <div class="row">
    <div class="col-sm-12 sponsor-msg">
      <h3>Interested in sponsoring? Say hi at <a href="mailto:uk@mlh.io">uk@mlh.io</a></h3>
    </div>
  </div>
</div>

<div id="faq" class="container">
  <div class="row">
    <div class="section-title col-sm-offset-5 col-sm-2">
      <h2>FAQ</h2>
    </div>
  </div>
</div>

<div id="register" class="container">
  <div class="row">
    <div class="section-title col-sm-offset-5 col-sm-2">
      <h2>Register</h2>
    </div>
  </div>
</div>
