<div class="background">
  <div class="container">
    <div class="row">
      <img src="images/hacknotts.png">
      <h2>200 person hackathon in Nottingham coming this November.</h2>
    </div>
  </div>
</div>
